.content{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #24c5d4;
    padding: 20px;
    width: 100%;
}

h4{
  color: #9e1919;
}

#display{
    width: 100%;
}

#slider{
    width: 100%;
}
